Django==5.1.6
django-tailwind
django-crispy-forms
crispy-tailwind
django-address
django-cities-light
django-watson
django-autocomplete-light
django-filter
django-tables2
django-prose
Pillow
django-money