{% extends 'base.html' %}

{% block title %}
  {{ job.title }} - Job Listing
{% endblock %}

{% block content %}
  <div class="max-w-4xl mx-auto p-6 bg-white rounded-lg shadow-md">
    <span class="flex flex-row items-center justify-between">
      <h1 class="text-3xl font-bold mb-4">{{ job.title }}</h1>
      {% if is_owner %}
        <span>
          <a href="{% url 'edit_job' job.pk %}" class="inline-block bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition-colors duration-300">Edit Job</a>
          <a href="{% url 'delete_job' job.pk %}" class="inline-block bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 transition-colors duration-300 ml-2">Delete Job</a>
        </span>
      {% else %}
        {% include 'board/components/_employer_card.html' with employer=job.employer %}
      {% endif %}
    </span>

    <!-- filepath: /Users/williamosborne/job-board/board/templates/board/listing/listing.html -->
    <div class="mb-6 mt-4">
      <h2 class="text-xl font-semibold mb-2">Job Details</h2>
      <table class="min-w-full bg-white">
        <tbody>
          <tr>
            <td class="table-cell-header">Posted on</td>
            <td class="table-cell">{{ job.posted_date }}</td>
          </tr>
          <tr>
            <td class="table-cell-header">Location</td>
            <td class="table-cell">{{ job.location }}</td>
          </tr>
          <tr>
            <td class="table-cell-header">Salary</td>
            <td class="table-cell">${{ job.salary_min }} - ${{ job.salary_max }}</td>
          </tr>
          <tr>
            <td class="table-cell-header">Employment Type</td>
            <td class="table-cell">{{ job.get_employment_type_display }}</td>
          </tr>
          <tr>
            <td class="table-cell-header">Experience Level</td>
            <td class="table-cell">{{ job.get_experience_level_display }}</td>
          </tr>
          <tr>
            <td class="table-cell-header">Education Required</td>
            <td class="table-cell">{{ job.education_required }}</td>
          </tr>
          <tr>
            <td class="table-cell-header">Skills Required</td>
            <td class="table-cell">{{ job.skills_required.all|join:', ' }}</td>
          </tr>
          <tr>
            <td class="table-cell-header">Benefits</td>
            <td class="table-cell">{{ job.benefits.all|join:', ' }}</td>
          </tr>
          <tr>
            <td class="table-cell-header">Status</td>
            <td class="table-cell">{{ job.get_status_display }}</td>
          </tr>
          <tr>
            <td class="table-cell-header">Remote</td>
            <td class="table-cell">{{ job.is_remote|yesno:'Yes,No' }}</td>
          </tr>
          {% if job.is_remote %}
            <tr>
              <td class="table-cell-header">Remote Type</td>
              <td class="table-cell">{{ job.get_remote_type_display }}</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>

    <div class="mb-6 mt-4">
      <h2 class="text-xl font-semibold mb-2">Description</h2>
      {{ job.description }}
    </div>

    {% if is_job_seeker %}
      <div class="flex flex-row justify-end items-center gap-2">
        <a href="{% url 'apply_job' job.pk %}" class="inline-block bg-orange-500 text-white px-4 py-2 rounded hover:bg-orange-600 transition-colors duration-300">Apply</a>
      </div>
    {% endif %}

    {% if is_owner %}
      <div class="mb-6">
        <h2 class="text-xl font-semibold mb-2">Stats</h2>
        <p class="my-4">👀 {{ job.views_count }} views</p>
      </div>

      <div class="mb-6 w-full" id="applications-list">
        <div class="flex flex-row justify-start items-center">
          <h2 class="text-xl font-semibold mb-2">Applications</h2>
        </div>
        {% load render_table from django_tables2 %}
        {% render_table applications %}
      </div>
    {% endif %}
  </div>
{% endblock %}
