{% extends 'base.html' %}

{% block title %}
  Profile
{% endblock %}

{% block content %}
  <div class="flex w-full h-full">
    <!-- Sidebar -->
    {% include 'accounts/profile/_sidebar.html' %}

    <!-- Profile Content -->
    <div class="w-3/4 bg-white p-8 rounded-lg shadow-lg ml-4">
      <div class="border-b pb-4 mb-4">
        <p class="text-gray-600">Email: {{ user.email }}</p>
        <p class="text-gray-600">Account Type: {{ user.userprofile.user_type }}</p>
      </div>
      <div class="pt-4">
        <a href="{{ user.userprofile.get_absolute_url }}" class="text-blue-600 hover:text-blue-800 underline">Preview Profile Page</a>
      </div>
    </div>
  </div>
{% endblock %}
