{% load humanize %}

<div class="bg-white p-3 rounded-lg shadow-md">
  <a href="{% url 'job_detail' job.pk %}" class="flex flex-row justify-between items-center"><h3 class="text-xl font-bold">{{ job.title }}</h3><i class="fas text-xl text-blue-300 fa-arrow-right"></i></a>

  <p class="text-gray-600 mb-1">
    <span class="text-green-500 text-sm font-bold">${{ job.salary_min|intcomma }} - ${{ job.salary_max|intcomma }}</span>
  </p>
  <span class="flex flex-row items-center justify-start mb-1 text-xs gap-2">
    {% if job.category %}
      <span class="bg-gray-700 text-white p-1 rounded-lg">{{ job.category.name }}</span>
    {% endif %}
    {% if job.is_remote %}
      <span class="bg-blue-500 text-white p-1 rounded-lg">Remote</span>
    {% endif %}
    {% if job.get_employment_type_display %}
      <span class="bg-gray-500 text-white p-1 rounded-lg">{{ job.get_employment_type_display }}</span>
    {% endif %}
  </span>
  <p class="text-gray-600 mb-1">
    <strong>Experience Required:</strong> {{ job.get_experience_level_display }}
  </p>

  <p class="text-gray-600 mb-1">📍 {{ job.location }}</p>
  <p class="text-gray-500 italic mb-1">Posted on: {{ job.posted_date }}</p>
  {% if user.is_authenticated and user.employerprofile == job.employer %}
    <span class="bg-red-500 text-white p-1 rounded-lg">{{ job.applications.count }} Applications</span>
  {% endif %}
</div>
