{% extends 'base.html' %}

{% block title %}
  Application Detail
{% endblock %}

{% block content %}
  <div class="max-w-4xl mx-auto p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-bold text-center">Application Detail</h2>
    <p>
      <strong>Job Listing:</strong> <a href="{{ application.job_listing.get_absolute_url }}" class="text-blue-500 underline">{{ application.job_listing.title }}</a>
    </p>
    <p>
      <strong>Applicant:</strong> {% include 'board/components/_user_tag.html' with user=application.applicant %}
    </p>
    <p>
      <strong>Cover Letter:</strong>
    </p>
    <p>{{ application.cover_letter }}</p>
    <p>
      <strong>Status:</strong> {{ application.get_status_display }}
    </p>
    <p>
      <strong>Submitted Date:</strong> {{ application.submitted_date }}
    </p>
    <a href="{% url 'send_message' %}?recipient={{ application.applicant.pk }}" class="inline-block bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition-colors duration-300">Message Candidate</a>
  </div>
{% endblock %}
